# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.env/

# Mac
.DS_Store

# IDE
.vscode/
.idea/


# Logs
*.log
logs/

# Airflow
airflow.db
airflow.cfg
webserver_config.py

# Env files
.env

# Jupyter
.ipynb_checkpoints/

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Misc
tmp/
dist/
build/

